/* NAVBAR -- CSS */
/* ============================== */

.navbar-wrapper {
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100%;
}

nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    width: 300px;
}

.nav-link {
    margin: 10px;
}

.nav-link > a {
    color: white;
    font-size: 2em;
    text-decoration: none;
}

.nav-link > a:hover {
    color: #b7a261
}

.nav-link > button {
    font-size: 2em;
}