/* SIDEBAR -- CSS */
/* ============================== */

aside {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

aside > a {
    color: black;
    margin-left: 15px;
    text-decoration: none;
    width: 250px;
}

aside > a:hover {
    color: #b7a261;
}

@media (min-width: 700px) {
    aside {
        align-items: flex-start;
        display: flex;
        width: 300px;
    }
}