/* HEADER -- CSS */
/* ============================== */

header {
    align-items: center;
    background-color: #eeeeee;
    flex-direction: column;
    width: 100vw;
}

header > h1 {
    display: flex;
    font-size: 3em;
}